{% for item in site.data[page.flavor][uclass] %}
  {% assign template=item[1] %}
  <tr>
    <td>
      {%- include friendly_link.html uclass=include.uclass template=template -%}
    </td>
    <td>
      <a href="{%- include url.html uclass=include.uclass dataname=template.DataName-%}">{{ template.DataName }}</a>
    </td>
    <td>
      {%- include friendly_link.html uclass=include.uclass -%}
    </td>
  </tr>
{%- endfor-%}
{%- for uclass in site.data[page.flavor].class_diagram[include.uclass] -%}
  {%- include data_node.html uclass=uclass -%}
{% endfor %}
