<span>
  {% assign maybe_image = include.template.IconImage | replace: "img:///", "" | replace: ".", "/" | prepend: "content/" | append: ".png" | downcase %}
  {% assign maybe_file = site.data.img[maybe_image] %}
  {% if include.template.bMultiplayerOnly %}
    {% assign multiplayer = " (Multiplayer)" %}
  {% else %}
    {% assign multiplayer = "" %}
  {% endif %}
  {% assign name = include.template.DisplayName | append: multiplayer %}
  {% if maybe_file %}
    <img src="{{ maybe_file | prepend: "/" | prepend: site.baseurl }}" title="{{ name }}" class="template-label">{{ name }}
  {% else %}
    {{ name }}
  {% endif %}
</span>
