<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
  {%- include header.html -%}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <h1>{{ page.title }}</h1>
      {{ content }}
      <ul>
        {% for outer in template %}
          <li>
            {{ outer[0] }}:
            {% if outer[1][0] %}
              <ul>
                {% for inner in outer[1] %}
                  <li>{% include value.html value=inner %}</li>
                {% endfor %}
              </ul>
            {% else %}
              {% assign val=outer[1] %}
              {% include value.html value=val %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>
  {%- include footer.html -%}
</body>

</html>
